{% extends "::base.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>Exams list</h1>

                <ul>
                    {% for exam in exams %}
                        <li>{{ exam.name }} - {{ exam.date }}
                            - <a href="{{ path('exam_delete', {id: exam.id}) }}">Delete</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}